.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  padding: 0;
}

.header {
  width: 1100px;
  height: 109px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-glav {
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 0 2px white, 0.3em 0.3em 1em rgba(169, 168, 168, 0.6);
}
.header-logo {
  margin-top: 40px;
  background-image: url("./img/logo1.png");
  width: 186px;
  height: 81px;
  cursor: pointer;
  background-size: 182px 55px;
  border: 0;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-color: white;
}

.header-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}
.BodyFrame {
  height: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.BodyFrameButton {
  font-weight: 600;
  font-size: 12px;
  line-height: 14.63px;
  letter-spacing: -0.3px;
  border: 0;
  background-color: white;
  cursor: pointer;
  color: #a0a0a0;
  margin-left: 16px;
}
.BodyFrameButton:hover {
  font-size: 13px;
  color: #ff9f28;
}
.notifications {
  margin-left: 16px;
}
.notifications-zang {
  background-image: url("./img/zang.png");
  height: 30px;
  width: 29px;
  background-size: 100%;
  border: 0;
  cursor: pointer;
}
.notifications-zang:hover {
  height: 34px;
  width: 33px;
}
.notifications-elips {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff9f28;
  margin-top: -37px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
}

.notifications-elips span {
  color: #ffffff;
  font-size: 11px;
}
.header-account {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hedaerblue {
  background-color: #56ccf2;
  cursor: pointer;
  width: 22.5px;
  font-size: 14px;
  border-radius: 0px 0px 7px 7px;
  height: 100%;
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.hedaerwhite {
  background-color: white;
  cursor: pointer;
  width: 22.5px;
  font-size: 14px;
  border-radius: 0px 0px 7px 7px;
  height: 100%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-account-logo {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  background-color: #ff9f28;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-account-logo span {
  font-weight: 400;
  font-size: 24px;
  line-height: 29.26px;
  letter-spacing: -0.3px;
  color: white;
}
.header-account-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.name1 {
  margin-right: 7px;
}
.header-account-name span {
  color: #787878;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.3px;
  line-height: 17.07px;
}
.header-account-arrow {
  cursor: pointer;
  border: 0;
  background-image: url("./img/slaq.png");
  height: 7px;
  width: 6px;
  background-size: 100%;
  margin-left: 5px;
}

.account-select {
  width: 170px;
  height: 120px;
  position: relative;
  margin-top: 252px;
  margin-left: -176px;
  box-shadow: 0.3em 0.3em 1em rgba(169, 168, 168, 0.6);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
/* .myProfil-button {
  border: 0;
  border-bottom: 1px solid rgb(154, 153, 153);
  background-color: white;
  height: 30px;
  cursor: pointer;
}
.balance-button {
  border: 0;
  border-bottom: 1px solid rgb(154, 153, 153);
  background-color: white;
  height: 30px;
  cursor: pointer;
} */
.select {
  border: 0;
  border-bottom: 1px solid rgb(154, 153, 153);
  background-color: white;
  height: 30px;
  cursor: pointer;
  color: #505050;
  opacity: 1;
}
.select:hover {
  color: #ff9f28;
}

.translate {
  display: flex;
  flex-direction: row;
  height: 25px;
  width: 45px;
  position: relative;
  margin-bottom: 84px;
  margin-left: -40px;
}
